@model ooadepazar.Models.Narudzba

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Narudzba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumNarudzbe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumNarudzbe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumObrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumObrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artikal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artikal.Lokacija)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
