@model ooadepazar.Models.Artikal

@{
    ViewData["Title"] = "Delete";
}

<h1>Brisanje artikla</h1>

<h3>Jeste li sigurni da želite obrisati ovaj artikal?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumObjave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumObjave)
        </dd>
    </dl>
    
    @if (!Model.Narucen)
    {
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Obriši" class="btn btn-danger" />
            <a asp-controller="Artikal" asp-action="Details" asp-route-id="@Model.ID" class="btn btn-secondary ms-2">Nazad na detalje</a>
        </form>
    }
    else
    {
        <div class="alert alert-warning mt-3">
            Artikal je već naručen i ne može se obrisati.
        </div>
        <a asp-controller="Artikal" asp-action="Details" asp-route-id="@Model.ID" class="btn btn-secondary ms-2">Nazad na detalje</a>
    }
</div>
